<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<!-- Incorporo el menú de navegación de la página principal -->
	<nav th:insert="index.html :: nav">	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>&nbsp</h1>
			<h1>Nueva convocatoria</h1>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
				
					<form method="post" action="#" th:action="${convocatoriaForm.id != 0} ? @{/convocatoria/edit/submit} : @{/convocatoria/new/submit}"
					th:object="${convocatoriaForm}">
						<div class="form-group">
							<label for="id">Identificador</label> 
							<input type="text" readonly="readonly" class="form-control" id="id"  th:field="*{id}" />
						</div>
						<div class="form-group">
							<label for="nombre">Convocatoria</label> 
							<input type="text" class="form-control" id="convocatoria"  th:field="*{convocatoria}" />
						</div>
						<div class="form-group">
							<label for="nombre">Fecha de actualización</label> 
							<input type="text" readonly="readonly" class="form-control" id="fechaActualizacion"  th:field="*{fechaActualizacion}" />
						</div>						
						<button type="submit" class="btn btn-default">Enviar</button>	
						<button type="submit" class="btn btn-default">borrar</button>						
					</form>

				</div>

			</div>
		</div>



	</div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>