<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Incorporo el menú de navegación de la página principal -->
	<nav th:insert="index.html :: nav">	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>&nbsp</h1>			
			<h1>Listado de asignaturas</h1>
					<li><a href="/asignatura/new">Nueva asignatura</a></li>			
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Denominación</th>
						<th>Fecha de Actualización</th>
						<th></th>						
				</thead>
				<tbody>
					<tr th:each="asignatura : ${listaAsignatura}">
						<td th:text="${asignatura.id}">ID</td>
						<td th:text="${asignatura.denominacion}">Pepe Pérez</td>
						<td th:text="${asignatura.fechaActualizacion}">pepe.perez@openwebinars.net</td>
						<td><a th:href="@{/asignatura/edit/{id}(id=${asignatura.id})}" class="btn btn-primary">Editar</td>
						<td><a th:href="@{/asignatura/delete/{id}(id=${asignatura.id})}" class="btn btn-danger">Eliminar</td>																
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	
	
	
	
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>